In [3]:
import pandas as pd # type: ignore

data = { "Name":["Aman","Aadarsh","Ankit","Akhil"],
         "Age": [24,25,28,31],
         "Salary": [20000,25000,15000,30000]}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0     Aman   24   20000
1  Aadarsh   25   25000
2    Ankit   28   15000
3    Akhil   31   30000

In [4]:
data = pd.read_csv("C:/Users/varsh/OneDrive/Documents/pizza_sales/pizza_sales/pizzas.csv")      
# print(data)
print(data.head(15))
print(data.tail(15))

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
5      cali_ckn_l      cali_ckn    L  20.75
6   ckn_alfredo_s   ckn_alfredo    S  12.75
7   ckn_alfredo_m   ckn_alfredo    M  16.75
8   ckn_alfredo_l   ckn_alfredo    L  20.75
9     ckn_pesto_s     ckn_pesto    S  12.75
10    ckn_pesto_m     ckn_pesto    M  16.75
11    ckn_pesto_l     ckn_pesto    L  20.75
12   southw_ckn_s    southw_ckn    S  12.75
13   southw_ckn_m    southw_ckn    M  16.75
14   southw_ckn_l    southw_ckn    L  20.75
          pizza_id pizza_type_id size  price
81  mediterraneo_s  mediterraneo    S  12.00
82  mediterraneo_m  mediterraneo    M  16.00
83  mediterraneo_l  mediterraneo    L  20.25
84      mexicana_s      mexicana    S  12.00
85      mexicana_m      mexicana    M  16.00
86      mexicana_l      mexicana    L  20.25
87    spin_pesto_s    spin_pesto    S  12.50
88    spin_pesto_m    spin_pesto    M  16.50
89    spin_pesto_l    spin_pesto    L  20.75
90   spinach_fet_s   spinach_fet    S  12.00
91   spinach_fet_m   spinach_fet    M  16.00
92   spinach_fet_l   spinach_fet    L  20.25
93    veggie_veg_s    veggie_veg    S  12.00
94    veggie_veg_m    veggie_veg    M  16.00
95    veggie_veg_l    veggie_veg    L  20.25

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB
None

In [9]:
data.describe()

           price
count  96.000000
mean   16.440625
std     4.090266
min     9.750000
25%    12.500000
50%    16.250000
75%    20.250000
max    35.950000

In [10]:
print(data.isnull().sum())

pizza_id         0
pizza_type_id    0
size             0
price            0
dtype: int64

In [15]:
print(data.dropna())

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [13]:
print(data["pizza_type_id"].duplicated().sum())

64

In [14]:
print(data.drop_duplicates("pizza_type_id"))

          pizza_id pizza_type_id size  price
0        bbq_ckn_s       bbq_ckn    S  12.75
3       cali_ckn_s      cali_ckn    S  12.75
6    ckn_alfredo_s   ckn_alfredo    S  12.75
9      ckn_pesto_s     ckn_pesto    S  12.75
12    southw_ckn_s    southw_ckn    S  12.75
15      thai_ckn_s      thai_ckn    S  12.75
18      big_meat_s      big_meat    S  12.00
21   classic_dlx_s   classic_dlx    S  12.00
24      hawaiian_s      hawaiian    S  10.50
27   ital_cpcllo_s   ital_cpcllo    S  12.00
30    napolitana_s    napolitana    S  12.00
33   pep_msh_pep_s   pep_msh_pep    S  11.00
36     pepperoni_s     pepperoni    S   9.75
39     the_greek_s     the_greek    S  12.00
44    brie_carre_s    brie_carre    S  23.65
45     calabrese_s     calabrese    S  12.25
48     ital_supr_s     ital_supr    S  12.50
51  peppr_salami_s  peppr_salami    S  12.50
54    prsc_argla_s    prsc_argla    S  12.50
57      sicilian_s      sicilian    S  12.25
60   soppressata_s   soppressata    S  12.50
63    spicy_ital_s    spicy_ital    S  12.50
66  spinach_supr_s  spinach_supr    S  12.50
69   five_cheese_s   five_cheese    S  12.50
72   four_cheese_s   four_cheese    S  11.75
75  green_garden_s  green_garden    S  12.00
78   ital_veggie_s   ital_veggie    S  12.75
81  mediterraneo_s  mediterraneo    S  12.00
84      mexicana_s      mexicana    S  12.00
87    spin_pesto_s    spin_pesto    S  12.50
90   spinach_fet_s   spinach_fet    S  12.00
93    veggie_veg_s    veggie_veg    S  12.00

In [10]:
data.loc[(data["price"] < 12.00), "GetBonus"] = "less bonus"
data.loc[(data["price"] > 12.00) , "GetBonus"] = "high bonus"
print(data.head(50))

         pizza_id pizza_type_id size  price    GetBonus
0       bbq_ckn_s       bbq_ckn    S  12.75  high bonus
1       bbq_ckn_m       bbq_ckn    M  16.75  high bonus
2       bbq_ckn_l       bbq_ckn    L  20.75  high bonus
3      cali_ckn_s      cali_ckn    S  12.75  high bonus
4      cali_ckn_m      cali_ckn    M  16.75  high bonus
5      cali_ckn_l      cali_ckn    L  20.75  high bonus
6   ckn_alfredo_s   ckn_alfredo    S  12.75  high bonus
7   ckn_alfredo_m   ckn_alfredo    M  16.75  high bonus
8   ckn_alfredo_l   ckn_alfredo    L  20.75  high bonus
9     ckn_pesto_s     ckn_pesto    S  12.75  high bonus
10    ckn_pesto_m     ckn_pesto    M  16.75  high bonus
11    ckn_pesto_l     ckn_pesto    L  20.75  high bonus
12   southw_ckn_s    southw_ckn    S  12.75  high bonus
13   southw_ckn_m    southw_ckn    M  16.75  high bonus
14   southw_ckn_l    southw_ckn    L  20.75  high bonus
15     thai_ckn_s      thai_ckn    S  12.75  high bonus
16     thai_ckn_m      thai_ckn    M  16.75  high bonus
17     thai_ckn_l      thai_ckn    L  20.75  high bonus
18     big_meat_s      big_meat    S  12.00  less bonus
19     big_meat_m      big_meat    M  16.00  high bonus
20     big_meat_l      big_meat    L  20.50  high bonus
21  classic_dlx_s   classic_dlx    S  12.00  less bonus
22  classic_dlx_m   classic_dlx    M  16.00  high bonus
23  classic_dlx_l   classic_dlx    L  20.50  high bonus
24     hawaiian_s      hawaiian    S  10.50  less bonus
25     hawaiian_m      hawaiian    M  13.25  high bonus
26     hawaiian_l      hawaiian    L  16.50  high bonus
27  ital_cpcllo_s   ital_cpcllo    S  12.00  less bonus
28  ital_cpcllo_m   ital_cpcllo    M  16.00  high bonus
29  ital_cpcllo_l   ital_cpcllo    L  20.50  high bonus
30   napolitana_s    napolitana    S  12.00  less bonus
31   napolitana_m    napolitana    M  16.00  high bonus
32   napolitana_l    napolitana    L  20.50  high bonus
33  pep_msh_pep_s   pep_msh_pep    S  11.00  less bonus
34  pep_msh_pep_m   pep_msh_pep    M  14.50  high bonus
35  pep_msh_pep_l   pep_msh_pep    L  17.50  high bonus
36    pepperoni_s     pepperoni    S   9.75  less bonus
37    pepperoni_m     pepperoni    M  12.50  high bonus
38    pepperoni_l     pepperoni    L  15.25  high bonus
39    the_greek_s     the_greek    S  12.00  less bonus
40    the_greek_m     the_greek    M  16.00  high bonus
41    the_greek_l     the_greek    L  20.50  high bonus
42   the_greek_xl     the_greek   XL  25.50  high bonus
43  the_greek_xxl     the_greek  XXL  35.95  high bonus
44   brie_carre_s    brie_carre    S  23.65  high bonus
45    calabrese_s     calabrese    S  12.25  high bonus
46    calabrese_m     calabrese    M  16.25  high bonus
47    calabrese_l     calabrese    L  20.25  high bonus
48    ital_supr_s     ital_supr    S  12.50  high bonus
49    ital_supr_m     ital_supr    M  16.50  high bonus